@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f8fafc;
  --color-background-dark: #1e1e2f;
  --color-background-dark-secondary: #2c2c3a;
  --color-text: #111827;
  --color-text-dark: #d1d5db;

  --animate-fade-in: fade-in 0.3s ease-in;
  --animate-fade-out: fade-out 0.3s ease-out;
  --animate-slide-in-left: slideInLeft 0.5s ease forwards;
  --animate-slide-out-left: slideOutLeft 0.5s ease forwards;
  --animate-slide-in-right: slideInRight 0.5s ease forwards;
  --animate-slide-out-right: slideOutRight 0.5s ease forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOutRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
}

@layer utilities {
  .animate-once {
    animation-iteration-count: 0.15 !important;
    animation-fill-mode: backwards !important;
  }

  .transition-smooth {
    transition: all 250ms ease-in-out;
  }

  .animate-slide-in-left,
  .animate-slide-out-left {
    will-change: transform;
    overflow: hidden;
  }

  .shadow-outline {
    @apply shadow-md dark:shadow-none;
  }
}

@layer components {
  .dashboard-container {
    @apply h-screen flex flex-row overflow-hidden;
  }

  .main-container {
    @apply p-2 h-screen w-full flex flex-col gap-3;
  }

  .placeholder {
    @apply bg-gray-300 animate-pulse rounded;
  }

  .menu-sidebar {
    @apply w-0 relative;
  }

  .menu-sidebar.open {
    @apply w-sm bg-text-dark dark:bg-text;
  }

  .weather-container {
    @apply flex flex-row place-content-between;
  }

  .quote-container {
    @apply border border-gray-300 rounded-sm p-5 w-full relative;
    @apply md:mt-auto md:w-[35%] md:max-w-[30vw];
  }
}

@layer base {
  body {
    @apply text-text dark:text-text-dark bg-background dark:bg-background-dark;
  }

  h2 {
    @apply font-medium text-[min(5vw,15px)];
  }

  svg path {
    @apply stroke-text dark:stroke-text-dark;
  }
}
